.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.main {
  position: relative;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.fill {
  position: absolute;
  height: 100%;
  background: #69b1ff;
}

.content {
  position: relative;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.dock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dock-card {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.dock-card:hover {
  transform: scale(1.5);
  transform: translateY(5px) scale(1) translateZ(10px) scale(1) translateX(10px) scale(1);
}

.dock-divider {
  width: 1px;
  height: 100%;
  background-color: #ddd;
}



